<style>
    .user-choice-form {
        background-color: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(4px);
        border-radius: 26px;
        height: 40vh;
        width: 300px;
        max-width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 0 10px 12px rgba(0, 0, 0, 0.4);
    }
    .user-choice-form div {
        font-size: 2rem;
        color: #fff;
        background-color: coral;
        padding: 12px;
        border-radius: 8px;
        cursor: pointer;
    }
    .user-form {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px);
    }
    .user-form p {
        color: #fff;
        margin-top: 30px;
    }
    .user-form span {
        color: coral;
        text-decoration: underline;
        cursor: pointer;
    }
</style>

<div class="page-header">
    <h1>
        <%= title %>
    </h1>
</div>


<div id="userChoiceForm" class="user-choice-form">
    <div id="login">Login</div>
    <div id="register">Register</div>
</div>

<div id="loginForm" class="user-form">
    <form action="/user/login" method="post">
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email" id="email">
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" id="password">
        </div>
        <div class="input-group">
            <button type="submit">Login</button>
        </div>
    </form>
    <p>Or <span id="registerHyper">register</span> if you need an account.</p>
</div>


<div id="registerForm" class="user-form">
    <form action="/user/register" method="post">
        <div class="input-group">
            <label for="fname">First Name</label>
            <input type="text" name="fname" placeholder="First Name" id="fname" required>
        </div>
        <div class="input-group">
            <label for="lname">Last Name</label>
            <input type="text" name="lname" placeholder="Last Name (Optional)" id="lname">
        </div>
        <div class="input-group">
            <label for="user_name">Username</label>
            <input type="text" name="user_name" placeholder="Username" id="user_name" required>
        </div>
        <div class="input-group">
            <label for="dob">DOB</label>
            <input type="date" name="dob" id="dob" required>
        </div>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email" id="email" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" id="password" required>
        </div>
        <div class="input-group">
            <label for="password2">Password</label>
            <input type="password" name="password2" placeholder="Re-Enter Password" id="password2" required>
        </div>
        <div class="input-group">
            <button type="submit">Register</button>
        </div>
    </form>

    <p>Or <span id="loginHyper">login</span> if you already have an account.</p>
</div>




<script>
    const userChoiceForm = document.getElementById('userChoiceForm')
    const loginBtn = document.getElementById('login')
    const registerBtn = document.getElementById('register')
    const loginForm = document.getElementById('loginForm')
    const registerForm = document.getElementById('registerForm')
    const loginHyper = document.getElementById('loginHyper')
    const registerHyper = document.getElementById('registerHyper')

    loginBtn.addEventListener('click', e => {
        loginForm.style.display = 'flex'
        userChoiceForm.style.display = 'none'
    })

    registerBtn.addEventListener('click', e => {
        registerForm.style.display = 'flex'
        userChoiceForm.style.display = 'none'
    })

    loginHyper.addEventListener('click', e => {
        registerForm.style.display = 'none'
        loginForm.style.display = 'flex'
        userChoiceForm.style.display = 'none'
    })

    registerHyper.addEventListener('click', e => {
        loginForm.style.display = 'none'
        registerForm.style.display = 'flex'
        userChoiceForm.style.display = 'none'
    })


</script>