<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CannaBus</title>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="icon" href="/images/system/cannabus_icon_1b.ico" />
</head>
<body>

    <div class="background-image"></div>
    <div class="background-image-overlay"></div>

    <%- include('./partials/menus/main'); %>
    <div class="page-container">
        <%- body %>
    </div>
</body>
</html>