<style>

</style>

<div class="page-header">
    <h1>
        <%= title %>
        <div class="page-header-underline"></div>
    </h1>
</div>


<div class="page-text-box">
        <h3><%= text_box_header %></h3>
        <p><%= text_box %></p>
    </div>
</div>


<div class="titlting-card-container">

    <div class="tilting-card-wrapper">
        <div class="mouse-position-tracker"></div>
        <div class="mouse-position-tracker"></div>
        <div class="mouse-position-tracker"></div>
        <div class="mouse-position-tracker"></div>
        <div class="mouse-position-tracker"></div>
        <div class="mouse-position-tracker"></div>
        <div class="mouse-position-tracker"></div>
        <div class="mouse-position-tracker"></div>
        <div class="mouse-position-tracker"></div>
        <div class="tilting-card-body">
            <div class="tilting-card-body-overlay"></div>
            <div class="product-data">
                <!-- <button class="purchase-button">Add To Cart</button> -->
                <div class="product-name">
                    <h6>CannaWow</h6>
                </div>
                <div class="product-price">
                    <p>$125/oz</p>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image-container">
                    <div class="product-image">
                        <a target="_blank" href="https://buy.stripe.com/test_7sI02E8Rnch26D6dQR">
                            <img src="/images/products/1.png" alt="">
                        </a>
                    </div>
                    <div class="product-image-sleeve"></div>
                </div>

            </div>
        </div>
    </div>


<div class="tilting-card-wrapper">
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="tilting-card-body">
        <div class="tilting-card-body-overlay"></div>
        <div class="product-data">
            <!-- <button class="purchase-button">Add To Cart</button> -->
            <div class="product-name">
                <h6>CannaWoah</h6>
            </div>
            <div class="product-price">
                <p>$105/oz</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image-container">
                <div class="product-image">
                    <a target="_blank" href="https://buy.stripe.com/test_7sI02E8Rnch26D6dQR">
                        <img src="/images/products/2.png" alt="">
                    </a>
                </div>
                <div class="product-image-sleeve"></div>
            </div>

        </div>
    </div>
</div>

<div class="tilting-card-wrapper">
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="tilting-card-body">
        <div class="tilting-card-body-overlay"></div>
        <div class="product-data">
            <!-- <button class="purchase-button">Add To Cart</button> -->
            <div class="product-name">
                <h6>CannaGetSmore</h6>
            </div>
            <div class="product-price">
                <p>$115/oz</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image-container">
                <div class="product-image">
                    <a target="_blank" href="https://buy.stripe.com/test_7sI02E8Rnch26D6dQR">
                        <img src="/images/products/3.png" alt="">
                    </a>
                </div>
                <div class="product-image-sleeve"></div>
            </div>

        </div>
    </div>
</div>


   

   


</div>



<!-- 

    <div class="page-horizontal-slider">

    <div class="product-card-container">
        <div class="product-card">
            <div class="product-image-container">
                <div class="product-image">
                    <img src="/images/products/1.png" alt="">
                </div>
                <div class="product-image-sleeve"></div>
            </div>
            <div class="product-data">
                <button class="purchase-button">Add To Cart</button>
                <a target="_blank" href="https://buy.stripe.com/test_7sI02E8Rnch26D6dQR">
                    <div class="product-name">
                        <h6>CannaWow</h6>
                    </div>
                    <div class="product-price">
                        <p>$105/oz</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="product-card-container">
        <div class="product-card">
            <div class="product-image-container">
                <div class="product-image">
                    <img src="/images/products/2.png" alt="">
                </div>
                <div class="product-image-sleeve"></div>
            </div>
            <div class="product-data">
                <a target="_blank" href="https://buy.stripe.com/test_8wM2aM0kR0yk1iM7ss">
                    <div class="product-name">
                        <h6>CannaWoah</h6>
                    </div>
                    <div class="product-price">
                        <p>$125/oz</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="product-card-container">
        <div class="product-card">
            <div class="product-image-container">
                <div class="product-image">
                    <img src="/images/products/3.png" alt="">
                </div>
                <div class="product-image-sleeve"></div>
            </div>
            <div class="product-data">
                <a target="_blank" href="https://buy.stripe.com/test_28oaHid7D94Q3qU7su">
                    <div class="product-name">
                        <h6>CannaGetSmore</h6>
                    </div>
                    <div class="product-price">
                        <p>$115/oz</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
 -->


</div>


<script>
    console.log('HELLO')
    const button = document.querySelector(".purchase-button")
    button.addEventListener("click", () => {
        console.log('CLICKED')
        fetch("http://localhost:3000/checkout/create-checkout-session", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                items: [
                    { id: 1, quantity: 3 },
                    { id: 2, quantity: 1 },
                    { id: 3, quantity: 5 },
                    { id: 1, quantity: 15 },
                ],
            }),
        })
            .then(res => {
                console.log(res)
                console.log(res.url)
                if (res.ok) {
                    return res.json()
                }
                return res.json().then(json => Promise.reject(json))
            })
            .then(({ url }) => {
                window.location = url
                console.log(items)
            })
            .catch(e => {
                console.error(e.error)
            })
    })
</script>